{% extends 'base.html' %}
{% block content %}
 <!-- Start Delete Discount Section -->
    <div class="delete-offer">
    <h1>Изтриване на офертата</h1>
        <p>Желаете ли да изтрийете офертата?</p>
        <strong style="color: red">Това действие е необратимо.</strong>
        <p></p>
        <form method="post" action="{% url 'discount_delete' object.pk %}">
            {% csrf_token %}
            <div class="sure-buttons">
                <!-- Yes (Delete Discount) Button -->
                <button class="btn btn-danger">Изтрий отстъпката</button>
                <!-- Go Back Button -->
                <a class="btn" href="javascript:history.back()" style="border-color: black">Върни се</a>
            </div>
        </form>
    </div>
    <!-- End Delete Discount Section -->
{% endblock %}