{% extends 'base.html' %}
{% block content %}
    <!-- Start Discount Edit Section -->
    <div class="edit-delete" style="
        align-items: start;
        max-width: 600px;
        padding: 20px;">
        <h2>Редактиране на {{ discount|lower }}</h2>

        <!-- Start Discount Edit From -->
        <form method="post">
            {% csrf_token %}

            {% for field in form %}

                <p class="error"> {{ field.errors }} </p>
                <div class="label-input" style="
                    display: flex;
                    flex-direction: column;">
                    <label style="margin-bottom: 5px; font-weight: bold;">{{ field.label }}</label>
                    {{ field }}
                </div>
                <br>

            {% endfor %}

            <!-- Edit Discount Button -->
            <button class="btn btn-primary" type="submit">Редактирай</button>

        </form>
    </div>
        <!-- End Discount Edit Form -->
{% endblock %}