{% extends 'base.html' %}

{% block content %}
    <h2>Полица {{ insurancepolicy.policy_number }}</h2>
    <div class="offer-details">
        <p>Автомобил: {{ insurancepolicy.car.make }} {{ insurancepolicy.car.model }}</p>
        <p>Застрахователна сума: {{ insurancepolicy.insurance_amount }} лв.</p>
        <p><strong>Цена на застраховката: {{ insurancepolicy.price }} лв.</strong></p>
        <p>Статус: {{ insurancepolicy.get_status_display }}</p>
    </div>

    {% if perms.policies.change_insurancepolicy %}
        <a href="{% url 'policy_update' insurancepolicy.id %}" class="btn btn-primary">Редактирай</a>
    {% endif %}

    {% if perms.policies.delete_insurancepolicy %}
        <a href="{% url 'policy_delete' insurancepolicy.id %}" class="btn btn-danger">Изтрий</a>
    {% endif %}

    <a class="btn btn-primary" href="javascript:history.back()">Назад</a>
{% endblock %}