{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<!-- Start Login Section-->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Влез в профила си:</h1>

            <!-- Start Login Form-->
            <form method="post">
                {% csrf_token %}
                
                {% for field in form %}

                    <div class="label-input" style="display: flex; flex-direction: column; margin-right: 50%">
                        <label style="margin-bottom: 5px; font-weight: bold;">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% if field.name == "password" %}
                    <div class="error" style="color: red; margin-bottom: 5px; font-weight: bold; font-style: normal">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                    <br>
                {% endfor %}

                <!-- Login Button-->
                <button class="btn btn-primary" type="submit" >Влизане</button>
            </form>
            <!-- End Login Form -->

        </div>
        <div class="second-option">

            <!-- Link to Register Page-->
            <p>Или се  <a href="{% url 'register' %}">регистрирай.</a></p>
        </div>
    </div>
    <!-- End Login Section-->
{% endblock %} 