{% extends 'base.html' %}

{% block content %}
    <div class="profile-container">
        <!-- Profile Details -->
        <div class="profile-section">
            <h3>Детайли на профила</h3>

            <p><strong>Име:</strong>
                {% if profile.first_name %}
                    {{ profile.first_name }}
                {% else %}
                    Не е посочено
                {% endif %}
            </p>

            <p><strong>Фамилия:</strong>
                {% if profile.last_name %}
                    {{ profile.last_name }}
                {% else %}
                    Не е посочено
                {% endif %}
            </p>

            <p><strong>Имейл:</strong> {{ user.email }}</p>

            <strong>Дата на раждане:</strong>
            {% if profile.date_of_birth %}
                {{ profile.date_of_birth|date:"d.m.Y" }}
            {% else %}
                Не е посочена
            {% endif %}
            <p>

            </p>

            <!-- Link to Edit Profile  -->
            <div class="d-flex gap-2">
                <a href="{% url 'profile_edit' user.pk %}" class="btn btn-primary">Редактирай профил</a>
                <p>

                </p>
                <!-- Link to Profile Delete -->
                <a href="{% url 'profile_delete' user.pk %}" class="btn btn-danger">Изтрий профил</a>
            </div>
        </div>
    </div>
{% endblock %}