{% extends 'base.html' %}
{% block content %}
 <!-- Start Delete Profile Section -->
    <div class="delete-profile">
        <form method="post" action="{% url 'profile_delete' request.user.pk %}">
            {% csrf_token %}
            <div class="sure-buttons">
                <!-- Yes (Delete Profile) Button -->
                <button>Изтрий профила</button>
                <!-- Go Back Button -->
                <a class="edit-btn" href="javascript:history.back()">Върни се</a>
            </div>
        </form>
    </div>
    <!-- End Delete Profile Section -->
{% endblock %}