{% extends 'base.html' %}
{% block content %}
    <!-- Start Car Create Section -->
    <div class="create" style="
        align-items: start;
        max-width: 600px;
        padding: 20px;">
        <h2>Създаване на автомобил</h2>

        <!-- Start Car Create From -->
        <form method="post">
            {% csrf_token %}

            {% for field in form %}

                <p class="error"> {{ field.errors }} </p>
                <div class="label-input">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
                <br>

            {% endfor %}

            <!-- Submit Button -->
            <button class="btn btn-primary" type="submit">Запази автомобил</button>

        </form>
        <!-- End Car Create Form -->
{% endblock %}