<!DOCTYPE html>
<html lang="en">
<!-- Starts Head Section -->
<head>
  <meta charset="UTF-8">
  <title>Застрахователна компания</title>
</head>
<!-- End Head Section -->

<body>
<!-- Starts Header Section with Navigation Bar -->
<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <!-- Link to Home Page -->
                <a href="{% url 'home' %}">

                </a>

                <!-- Link to Home Page -->
                <a class="home" href="#">
                    <i>Застрахователна компания</i>
                </a>
            </div>

            <div class="nav-links">
                <ul class="nav-group">
                    <li class="nav-item">

                        <!-- Link to About Us Page -->
                        <a href="#">
                            <i>За нас</i>
                        </a>
                    </li>
                    <li class="nav-item">

                        <!-- Link to Contacts Page -->
                        <a href="#">
                            <i>Контакти</i>
                        </a>
                    </li>
                    <li class="nav-item">

                        {% if not request.user.is_authenticated %}
                            <li class="nav-item">
                                <!-- Link to Login Page -->
                                <a href="{% url 'login' %}">
                                    <i>Влез</i>
                                </a>
                            </li>
                            <li class="nav-item">

                                <!-- Link to Register Page -->
                                <a href="{% url 'register' %}">
                                    <i>Регистрация</i>
                                </a>
                            </li>
                        {% else %}

                            <li class="nav-item">
                                <!-- Link to Profile Page -->
                                <a href="{% url 'profile-details' request.user.pk %}">
                                    <i>Профил</i>
                                </a>
                            </li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="button" type="submit"><i>Logout</i></button>
                            </form>

                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header Section with Navigation Bar -->
<!-- Starts Main Section -->
<main>

    {% block content %}
    {% endblock %}
</main>
<!-- End Main Section -->

<!-- Start Footer Section -->
<div class="footer">
		<span class="footer-section">
			© 2025 SOFTUNI Sanya Lyubenova Django Advanced project
		</span>
</div>
<!-- End Footer Section -->

</body>
</html>
